# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
/front-end/.pnp
/front-end/.pnp.js
# testing
/front-end/coverage
# production
/front-end/build
/back-end/node_modules
/front-end/node_modules
/back-end/public/hot
/back-end/public/storage
/back-end/storage/*.key
/back-end/vendor
/back-end/.env
/back-end/.env.backup
/back-end/.phpunit.result.cache
/back-end/docker-compose.override.yml
/back-end/Homestead.json
/back-end/Homestead.yaml
/back-end/npm-debug.log
/back-end/yarn-error.log
# misc
/front-end/.DS_Store
/front-end/.env.local
/front-end/.env.development.local
/front-end/.env.test.local
/front-end/.env.production.local
/.idea
/.vscode
/front-end/npm-debug.log*
/front-end/yarn-debug.log*
/front-end/yarn-error.log*

.DS_Store*